body {
    font-family: "Inter", system-ui;
    color: var(--dark);
    background: var(--light);
    overflow-x: hidden;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin:0;
    padding: 0;

  }